[submodule "Lectures/2021"]
	path = Lectures/2021
	url = https://github.com/neurodatascience/course-materials-2021
[submodule "Lectures/2020"]
	path = Lectures/2020
	url = https://github.com/neurodatascience/course-materials-2020
[submodule "Lectures/2023"]
	path = Lectures/2023
	url = https://github.com/neurodatascience/course-materials-2023.git
[submodule "Lectures/2022"]
	path = Lectures/2022
	url = https://github.com/neurodatascience/course-materials-2022.git
[submodule "Lectures/2024"]
	path = Lectures/2024
	url = git@github.com:neurodatascience/course-materials-2024.git
